@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Reddit+Mono:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
  height: 100%;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
